
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.header
{   
    background-color: white;
  
    font-weight: normal;
}
.navpart
{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #575151;
    height: 126px;
    font-weight: normal;
}

.nav
{
   display: flex;
   font-weight: normal;

}
.logo
{
    color: white;
    margin-left: 12px;
    margin-top: 12px;
    font-size: 15px;
    font-family: Lato;
    font-weight: normal;
    
}
.options
{
    margin-left: 200px;
    margin-top: 7px;
    font-weight: normal;
}
/* .imageone
{
     margin-top: 12px;
     margin-left: 300px;


} */

.dollar
{
   /* color: orange;
   margin-left: 20px;
   margin-top: 12px;
   background-color: #9e8d8d;
   width: 20px;
   height: 20px;
   border-radius: 20px;
   text-align: center;
   font-size: 15px; */
   color: #feb062;
   border-radius: 19px;
   background-color: white;
   background-color: #9e8d8d;
   width: 12px;
   text-align: center;
   height: 16px;
   font-size: 15px;
   font-family: Lato;
   /* height: 20px; */
   /* width: 10px; */
   padding: 5px 7px;
   font-weight: normal;
}
.en{
    color: #feb062; 
    font-size: 20px;
    font-family: Lato;
    font-weight: normal;
}

.iconbox{
    display: flex;
    margin-left: 275px;
    column-gap: 20px;
    padding-top: 12px;
    margin-right: px;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.navbartwo
{
    display: flex;
    margin-top: 40px;
    font-weight: normal;
}
.contact
{
    font-size: 10px;
    margin-left: 12px;
    font-weight: normal;
}
 .link
{
    margin-left: 131px;
    font-weight: normal;
    
}

 .linkone
{
    color: white;
    gap: 11px;
    text-underline-offset: unset;
    text-decoration-line: none;
    margin-right: 46px;
    font-size: 18px;
    font-family: Lato;
    font-weight: normal;
    font-weight: normal;
} 
.bellicons
{
    margin-left: 255px;
    font-weight: normal;
}
.supermarket
{
    margin-left: 24px;
    font-weight: normal;
}

.name
{
    font-size: 19px;
    color: white;
    margin-left: 8px;
    font-weight: normal;
}
.xyz
{
    margin-left: -74px;
    margin-top: 20px;
    font-size: 15px;
    color: white;
}
.company
{
    color: white;
    margin-left: 7px;
    margin-top: 20px;
    font-weight: normal;

}
.Nameslist
{
    font-family: lato;
    font-weight: normal;
    
}
.content
{
    height: 285px;
    background-color: white;

}
.footerpart
{
    background-color: #575151;
    height: 540px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    font-weight: normal;
}
.trival
{
    width: 103px;
    height: 29px;
    margin: 0 9px 16px 31px;
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    margin-left: 727px;
    color: white;
    padding-top: 18px;
    font-weight: normal;
}
.iconboxtwo
{
    display: flex;
    margin-left: 195px;
    column-gap: 20px;
    padding-top: 12px;
    margin-right: px;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.footercontent
{
    margin-left: 189px;
    margin-top: -27px;
    color: white;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    list-style: none;

}


.footerone
{
    list-style: none;

    
}
.footertwo
{
    padding-left: 278px;
    padding-bottom: -34px;
    margin-top: -189px;
    list-style: none;
}

.footerthree
{
    list-style: none;
    margin-left: 826px;
    margin-top: -190px;
}

.lastfooter
{
    color: white;
    font-size: 15px;
    margin-top: 116px;
    margin-left: 715px;
}